[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
shell = "*"
requests = "*"
flask = "*"
firebase = "*"
export = "*"
firebase-admin = "*"
flask-mysql = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
python-firebase = "*"
pyrebase4 = "*"
flask-session = "*"
pymysql = "*"

[requires]
python_version = "3.8"
