<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		#statement{
			width: 80%;
		}
		#form{
			padding-left: 20%;
			text-align: center;
		}
	</style>
</head>
<body>

<form action="#" method="post" id="form">
    <input type="text" name="name"><br>
    <label for="statement">Statement</label>
    <br><br><br>
    <textarea name="statement" rows="30" id="statement" placeholder="Enter the problem statement....."> </textarea>
    <br><br><br>
    <input type="submit">
</form>

</body>
</html>